## Pandas Lab Exercise (Kaggle Automobile Dataset)

We shall now test your skills in using Pandas package. We will be using the [automobiles Dataset](https://www.kaggle.com/nisargpatel/automobiles/data) from Kaggle. 

Answer each question asked below wrt the automobiles dataset. Load pandas as pd and upload the Automobile.csv file as auto

In [1]:
import pandas as pd

**Load the Automobile dataset into variable "auto"**

In [4]:
auto=pd.read_csv("Automobile.csv")

**Check the head of the DataFrame.**

In [5]:
auto.head()

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

**How many rows and columns are there?**

In [7]:
print("Number of rows:", len(auto))

Number of rows: 201

In [8]:
print("Number of Columns:",len(auto.columns))

Number of Columns: 26

**What is the average Price of all cars in the dataset?**

In [9]:
auto['price'].mean()

13207.129353233831

**Which is the cheapest make and costliest make of car in the lot?**

In [10]:
cheapest= auto.loc[auto['price'].idxmin(),'make']
print("Cheapest make:",cheapest)

Cheapest make: subaru

In [11]:
costliest= auto.loc[auto['price'].idxmax(),'make']
print("Costliest make:",costliest)

Costliest make: mercedes-benz

**How many cars have horsepower greater than 100?**

In [13]:
auto[auto['horsepower'] > 100]

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
197,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
198,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
199,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [22]:
print("number of cars carsthat have horsepower greater than 100:",len(auto[auto['horsepower'] > 100]))

number of cars carsthat have horsepower greater than 100: 90

**How many hatchback cars are in the dataset ?**

In [21]:
print("Number of hatchback cars:",len(auto[auto['body_style'] == 'hatchback']))

Number of hatchback cars: 68

**What are the 3 most commonly found cars in the dataset?**

In [17]:
auto['make'].value_counts().head(3)

make
toyota    32
nissan    18
mazda     17
Name: count, dtype: int64

**Someone purchased a car for 7099, what is the make of the car?**

In [19]:
print("Make of car brought for 7099:", auto[auto['price'] == 7099]['make'].iloc[0])

Make of car brought for 7099: nissan

**Which cars are priced greater than 40000?**

In [24]:
auto[auto['price'] > 40000]

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
15,0,149,bmw,gas,std,two,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,41315
70,0,140,mercedes-benz,gas,std,four,sedan,rwd,front,120.9,...,308,mpfi,3.80,3.35,8.0,184,4500,14,16,40960
71,1,140,mercedes-benz,gas,std,two,hardtop,rwd,front,112.0,...,304,mpfi,3.80,3.35,8.0,184,4500,14,16,45400

In [25]:
print(auto[auto['price'] > 40000][['make', 'price']])

             make  price
15            bmw  41315
70  mercedes-benz  40960
71  mercedes-benz  45400

**Which are the cars that are both a sedan and priced less than 7000?**

In [43]:
auto[(auto['body_style'] == 'sedan') & (auto['price'] < 7000)][['make', 'price']]

           make  price
19    chevrolet   6575
24        dodge   6692
42        isuzu   6785
50        mazda   6695
82   mitsubishi   6989
86       nissan   5499
88       nissan   6649
89       nissan   6849
118    plymouth   6692
152      toyota   6938

 **Count the number of unique values in the `fuel_type` column.**

In [35]:
print("umber of unique values in the fuel_type column:",auto['fuel_type'].nunique())

Number of unique values in the fuel_type column: 2

**List all the cars that have a horsepower between 100 and 200, and display their `make`, `horsepower`, and `price`.**

In [37]:
auto[(auto['horsepower'] > 100) & (auto['horsepower'] < 200)][['make', 'horsepower', 'price']]

            make  horsepower  price
0    alfa-romero         111  13495
1    alfa-romero         111  16500
2    alfa-romero         154  16500
3           audi         102  13950
4           audi         115  17450
..           ...         ...    ...
196        volvo         114  16845
197        volvo         160  19045
198        volvo         134  21485
199        volvo         106  22470
200        volvo         114  22625

[85 rows x 3 columns]

**Find the average `city_mpg` and `highway_mpg` for each `body_style`.**

In [42]:
auto.groupby('body_style')[['city_mpg', 'highway_mpg']].mean()

              city_mpg  highway_mpg
body_style
convertible  20.500000    26.000000
hardtop      21.625000    27.250000
hatchback    26.602941    32.382353
sedan        25.053191    30.574468
wagon        24.040000    28.720000

**What is the median `price` for each `make`?**

In [39]:
auto.groupby('make')['price'].median()

make
alfa-romero      16500.0
audi             17580.0
bmw              22835.0
chevrolet         6295.0
dodge             7609.0
honda             7295.0
isuzu             8916.5
jaguar           35550.0
mazda            10595.0
mercedes-benz    32892.0
mercury          16503.0
mitsubishi        8499.0
nissan            8124.0
peugot           16630.0
plymouth          7609.0
porsche          33278.0
renault           9595.0
saab             15275.0
subaru            7894.0
toyota            9103.0
volkswagen        9737.5
volvo            18420.0
Name: price, dtype: float64

**List all cars that have a `wheel_base` greater than 100 and a `curb_weight` less than 2500.**

In [48]:
auto[(auto['wheel_base'] > 100) & (auto['curb_weight'] < 2500)][['make','wheel_base','curb_weight']]

       make  wheel_base  curb_weight
9       bmw       101.2         2395
10      bmw       101.2         2395
169  toyota       102.4         2326
170  toyota       102.4         2480
171  toyota       102.4         2414
172  toyota       102.4         2414
173  toyota       102.4         2458

**Create a new column `price_per_hp` that calculates the price of the car per horsepower.**

In [51]:
price_per_hp = auto['price'] / auto['horsepower']
auto['price_per_hp'] = price_per_hp
auto.head()

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price,price_per_hp
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495,121.576577
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500,148.648649
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500,107.142857
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950,136.764706
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450,151.739130

In [52]:
auto['price_per_hp'] = auto['price'] / auto['horsepower']
auto.head()

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price,price_per_hp
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495,121.576577
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500,148.648649
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500,107.142857
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950,136.764706
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450,151.739130

**Count how many cars have a `number_of_doors` as `four`.**

In [53]:
print("number of cars that have a number_of_doors as four:",len(auto[auto['number_of_doors'] == 'four']))

number of cars that have a number_of_doors as four: 114

**Find the top 5 cars based on their `highway_mpg` and `price`.**

In [54]:
top_5_cars = auto.sort_values(by=['highway_mpg', 'price'], ascending=[False, False]).head(5)
print(top_5_cars[['make', 'highway_mpg', 'price']])

          make  highway_mpg  price
29       honda           54   6479
17   chevrolet           53   5151
87      nissan           50   7099
155     toyota           47   7788
156     toyota           47   7738

In [59]:
auto.sort_values(by=['highway_mpg', 'price'], ascending=[False, False]).head(5)[['make', 'highway_mpg', 'price']]

          make  highway_mpg  price
29       honda           54   6479
17   chevrolet           53   5151
87      nissan           50   7099
155     toyota           47   7788
156     toyota           47   7738

**How many cars have missing values in the `normalized_losses` column?**

In [58]:
print(auto['normalized_losses'].isnull().sum())

0

**Create a new column `car_age` that calculates the age of the car based on the `year_of_manufacture` (assume the current year is 2025).**

In [64]:
print(auto.columns)
# there is no such column as year_of_manufacture in the dataset

Index(['symboling', 'normalized_losses', 'make', 'fuel_type', 'aspiration',
       'number_of_doors', 'body_style', 'drive_wheels', 'engine_location',
       'wheel_base', 'length', 'width', 'height', 'curb_weight', 'engine_type',
       'number_of_cylinders', 'engine_size', 'fuel_system', 'bore', 'stroke',
       'compression_ratio', 'horsepower', 'peak_rpm', 'city_mpg',
       'highway_mpg', 'price', 'price_per_hp'],
      dtype='object')

### The END